.button {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    width: 250px;
    height: 90px;
    background-color: grey;
    margin-bottom: 20px;
    transition: 0.5s;
    font-size: 18px;
}

.button:hover {
    background-color: #fff;;
}

.container {
    width: fit-content;
    max-width: 920px;
    margin: 0 auto;
    border: solid black;
}

.row {
    display: flex;
    justify-content: center;
    width: 100%;
}

.square {
    width: 100px;
    aspect-ratio: 1;
}